---
import Layout from "../layouts/Layout.astro";
import MainImage from "../components/MainImage.astro";
import About from "../components/About.astro";
import Membership from "../components/Membership.astro";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";
---
<Layout
	title="Veranda Custom Homes",
	description="Looking for a custom home builder or renovation expert that you can fully trust? We have years of proven construction experience in the Vancouver, BC area."
>
    <main id="main-content" style="position:relative;">
      <MainImage />
      <About />
      <Membership />
      <Services />
	    <Contact />
    </main>
</Layout>
