---
const startYear = 1988;
const today = new Date();
const years = today.getFullYear() - startYear;
---
<section class="container about" id="about">
    <h2 class="heading-2">About Us</h2>
    <div class="flex-group mx-auto">
        <div class="about-img">
            <img src="/images/veranda-custom-homes-logo-150x150.jpg" width="150" height="150" alt="Veranda Custom Homes Logo" />
        </div>
        <div class="about-content">
            <p class="margin-block-4">Veranda Custom Homes Limited is owned and operated by Jason Latschislaw and Emanuel Giassemis</p>
            <p class="margin-block-4">Over the years working together, we have created a reliable list of contacts, trades, and clients. We are happy to bring them all to you in Veranda Custom Homes Limited.</p>
        </div>
    </div>
    <div class="about grid-auto-fit mx-auto">
        <div class="card">
        	<div class="card__heading">Jason Latschislaw</div>
            <div class="card__content">
                <p>I’ve been a carpenter for {years} years. I pursued a career in building homes and carpentry as it’s always been my passion to work with my hands and create quality builds.</p>
                <p>I met Emanuel in 2001 and I’ve worked for/with him since.</p>
            </div>
        </div>
        <div class="card">
        	<div class="card__heading">Emanuel Giassemis</div>
            <div class="card__content">
                <p>After earning a degree in economics from UBC in 1992, I became a realtor working primarily on the North Shore. After 8 years I decided it would be more fulfilling to renovate and build homes rather than sell them.</p>
                <p>I've been working with Jason since and am proud of the high quality workmanship and service we have provided to our clients.</p>
            </div>
        </div>
    </div>
</section>
