---
---
<section class="full-height" id="home">
<div class="container background-img-container" data-type="full-bleed">
    <picture class="background-img">
    <source srcset="/images/show-home-veranda-custom-homes-1600x900.jpg" width="1600" height="900" type="image/jpg" media="(min-width: 1400px) and (orientation: landscape)" />
    <source srcset="/images/show-home-veranda-custom-homes-1400x788.jpg" width="1400" height="788" type="image/jpg" media="(min-width: 1200px) and (orientation: landscape)" />
    <source srcset="/images/show-home-veranda-custom-homes-1200x675.jpg" width="1200" height="675" type="image/jpg" media="(min-width: 1000px) and (orientation: landscape)" />
    <source srcset="/images/show-home-veranda-custom-homes-1000x563.jpg" width="1000" height="563" type="image/jpg" media="(min-width: 800px) and (orientation: landscape)" />
    <source srcset="/images/show-home-veranda-custom-homes-800x450.jpg" width="800" height="450" type="image/jpg" media="(min-width: 600px) and (orientation: landscape)" />
    <source srcset="/images/show-home-veranda-custom-homes-600x338.jpg" width="600" height="338" type="image/jpg" media="(orientation: landscape)" />
    <source srcset="/images/show-home-veranda-custom-homes-900x1067.jpg" width="900" height="1067" type="image/jpg" media="(min-width: 800px) and (orientation: portrait)" />
    <source srcset="/images/show-home-veranda-custom-homes-800x948.jpg" width="800" height="948" type="image/jpg" media="(min-width: 700px) and (orientation: portrait)" />
    <source srcset="/images/show-home-veranda-custom-homes-700x830.jpg" width="700" height="830" type="image/jpg" media="(min-width: 600px) and (orientation: portrait)" />
    <source srcset="/images/show-home-veranda-custom-homes-600x711.jpg" width="600" height="711" type="image/jpg" media="(min-width: 500px) and (orientation: portrait)" />
    <source srcset="/images/show-home-veranda-custom-homes-500x593.jpg" width="500" height="593" type="image/jpg" media="(min-width: 400px) and (orientation: portrait)" />
    <source srcset="/images/show-home-veranda-custom-homes-400x474.jpg" width="400" height="474" type="image/jpg" media="(min-width: 300px) and (orientation: portrait)" />
    <source srcset="/images/show-home-veranda-custom-homes-300x356.jpg" width="300" height="356" type="image/jpg" media="(orientation: portrait)" />
    <img class="background-img" width="1600" height="900" src="/images/show-home-veranda-custom-homes-600x338.jpg" alt="Veranda Custom Homes - Show Home" />
    </picture>
    <div class="overlay">
    <div class="title uppercase">
        <h1>Serving the lower mainland<span class="new-line">for over <span class="working-years"></span> years</span></h1>
    </div>
    </div>
</div>
</section>