---
---
<section class="container membership" id="membership">
    <h2 class="heading-2">Membership</h2>
    <div class="flex-group mx-auto">
        <div class="membership-content">
            <p class="margin-block-4">When choosing a custom homebuilder it is important to choose a company that you can trust.</p>
            <p class="margin-block-4">Veranda Custom Homes is proud to to be a member of the following associations.</p>
        </div>
    </div>
    <div class="membership grid-auto-fit mx-auto">
        <a href="https://havan.ca/" title="Homebuilders Association Vancouver" target="_blank">
            <div class="card">
                <div class="card__image">
                    <img src="/images/havan-logo.png" width="200" height="191" alt="">
                </div>
                <div>
                    <div class="card__heading">Homebuilders Association Vancouver</div>
                    <div class="card__content">
                        <p>Homebuilders Association Vancouver is Canada's second largest, fastest growing home builder association.</p>
                        <p>Veranda Custom Homes is proud to have achieved this mark of excellence.</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="https://renomark.ca/" title="RenoMark Canada" target="_blank">
            <div class="card">
                <div class="card__image">
                    <img src="/images/renomark-logo.png" width="200" height="191" alt="">
                </div>
                <div>
                    <div class="card__heading">RenoMark Canada</div>
                    <div class="card__content">
                        <p>RenoMark idendifies professional renovators and contractors who have agreed to abide by a renovation-specific Code of Conduct.</p>
                        <p>Veranda Custom Homes is proud to continually follow this code and allow you to renovate with confidence.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>
