---
---
<section class="container services" id="services">
<h2 class="heading-2">Services</h2>
<div class="services grid-auto-fit mx-auto">
    <div class="card" tabindex="0">
    <div class="card__heading">New Builds</div>
    <div class="card__content">
        <svg class="new-builds" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 4h-2V3h2zM9 22h3v-1H9zm-4 0h2v-1H5zM9 9h2V8H9zM5 9h2V8H5zm18 12h-1v1h2v-2h-1zM2 12H1v2h1zm20-8h1v1h1V3h-2zM1 18h1v-2H1zM14 8h-1v1h2V7h-1zm9 1h1V7h-1zm-8-5h1V3h-2v2h1zM1 10h1V9h1V8H1zm1 10H1v2h2v-1H2zm12 2h2v-1h-2zm9-9h1v-2h-1zm-5 9h2v-1h-2zm5-4h1v-3h-1zm-5-3H7v-2.19L3.942 15.5 7 18.19V16h11v2.19l3.058-2.69L18 12.81z"/>
        <path fill="none" d="M0 0h24v24H0z"/>
        </svg>
    </div>
    </div>
    <div class="card" tabindex="0">
    <div class="card__heading">Exteriors</div>
    <svg class="exterior" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 4L3 26L6 26L6 46L20 46L30 46L44 46L44 26L47 26L47 25L47 4L3 4 z M 5 6L45 6L45 24L43.167969 24 A 1.0001 1.0001 0 0 0 42.841797 24L32.548828 24L25 12.136719L17.451172 24L7.1542969 24 A 1.0001 1.0001 0 0 0 6.984375 23.986328 A 1.0001 1.0001 0 0 0 6.8398438 24L5 24L5 6 z M 25 15.863281L31.451172 26L42 26L42 44L30 44L30 35C30 32.250484 27.749516 30 25 30C22.250484 30 20 32.250484 20 35L20 44L8 44L8 26L18.548828 26L25 15.863281 z M 10 30L10 31L10 39L18 39L18 30L10 30 z M 32 30L32 31L32 39L40 39L40 30L32 30 z M 12 32L16 32L16 37L12 37L12 32 z M 25 32C26.668484 32 28 33.331516 28 35L28 44L22 44L22 35C22 33.331516 23.331516 32 25 32 z M 34 32L38 32L38 37L34 37L34 32 z"/>
    </svg>
    </div>
    <div class="card" tabindex="0">
    <div class="card__heading">Renovations</div>
    <svg class="renovations" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.216,14.949 C14.748,15.482 15.075,15.103 15.511,14.668 C15.947,14.232 16.326,13.904 15.795,13.372 C15.795,13.372 8.156,5.74 6.327,3.917 L4.75,5.494 L14.216,14.949 L14.216,14.949 Z"></path>
        <path d="M2.048,7.015 L2.662,6.411 C2.662,6.411 2.391,5.668 2.788,5.312 C3.185,4.956 3.855,5.176 3.855,5.176 L6.01,3.093 C6.01,3.093 5.859,2.01 6.059,1.81 C6.259,1.61 8.493,0.521 8.71,0.303 L8.251,-0.156 C8.251,-0.156 5.123,0.219 4.784,0.558 C4.585,0.758 3.095,2.262 2.033,3.324 C2.033,3.324 2.3,4.083 1.95,4.433 C1.599,4.784 0.809,4.532 0.809,4.532 C0.436,4.906 0.186,5.155 0.186,5.155 C-0.077,5.42 0.078,5.792 0.401,6.115 L1.087,6.801 C1.412,7.124 1.785,7.278 2.048,7.015 L2.048,7.015 Z"></path>
    </svg>
    </div>
    <div class="card" tabindex="0">
    <div class="card__heading">Kitchens</div>
    <svg class="kitchens" viewBox="0 -1.05 48.095 48.095" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 0 A 1.0001 1.0001 0 0 0 8 1L8 4.484375L1.4179688 9.1855469 A 1.0001 1.0001 0 0 0 1 10L1 14 A 1.0001 1.0001 0 0 0 2 15L24 15 A 1.0001 1.0001 0 0 0 25 14L25 10 A 1.0001 1.0001 0 0 0 24.582031 9.1855469L18 4.4863281L18 1 A 1.0001 1.0001 0 0 0 17 0L9 0 z M 10 2L16 2L16 5 A 1.0001 1.0001 0 0 0 16.417969 5.8144531L23 10.513672L23 13L3 13L3 10.513672L9.5820312 5.8144531 A 1.0001 1.0001 0 0 0 10 5L10 2 z M 5.5 21C4.8457598 21 4.2978026 21.418077 4.0917969 22L1 22 A 1.0001 1.0001 0 0 0 0 23L0 45 A 1.0001 1.0001 0 0 0 1 46L47.095703 46 A 1.0001 1.0001 0 0 0 48.095703 45L48.095703 23 A 1.0001 1.0001 0 0 0 47.095703 22L21.908203 22C21.702197 21.418077 21.15424 21 20.5 21L5.5 21 z M 2 24L5.5 24L20.5 24L24.095703 24L24.095703 44L2 44L2 24 z M 26.095703 24L46.095703 24L46.095703 30L26.095703 30L26.095703 24 z M 5 26 A 1.0001 1.0001 0 0 0 4 27L4 41 A 1.0001 1.0001 0 0 0 5 42L21 42 A 1.0001 1.0001 0 0 0 22 41L22 27 A 1.0001 1.0001 0 0 0 21 26L5 26 z M 30 26 A 1.0001 1.0001 0 1 0 30 28L42 28 A 1.0001 1.0001 0 1 0 42 26L30 26 z M 6 28L20 28L20 40L6 40L6 28 z M 26.095703 32L46.095703 32L46.095703 44L26.095703 44L26.095703 32 z M 29.984375 34.986328 A 1.0001 1.0001 0 0 0 29 36L29 41 A 1.0001 1.0001 0 1 0 31 41L31 36 A 1.0001 1.0001 0 0 0 29.984375 34.986328 z"/>
    </svg>
    </div>
    <div class="card" tabindex="0">
    <div class="card__heading">Bathrooms</div>
    <svg class="bathrooms" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M472.253,243.036h-69.838H244.322H39.747C17.83,243.036,0,260.866,0,282.784c0,17.439,11.294,32.28,26.947,37.621v28.4 c0,43.176,20.313,81.699,51.884,106.511l-17.004,17.004c-5.261,5.261-5.263,13.793,0,19.056c2.631,2.63,6.079,3.946,9.527,3.946 s6.897-1.316,9.527-3.946l21.294-21.294c18.141,9.04,38.577,14.134,60.183,14.134h187.284c21.606,0,42.042-5.094,60.183-14.134 l21.294,21.294c2.631,2.63,6.079,3.946,9.527,3.946c3.448,0,6.897-1.316,9.527-3.946c5.261-5.261,5.261-13.793,0-19.056 l-17.004-17.004c31.569-24.812,51.882-63.334,51.882-106.511v-28.4C500.706,315.063,512,300.223,512,282.784 C512,260.866,494.169,243.036,472.253,243.036z M257.797,309.057v-39.074h131.143v39.074v47.718 c0,12.322-10.023,22.345-22.343,22.345h-86.457c-12.32,0-22.343-10.023-22.343-22.345V309.057z M39.747,295.584 c-7.057,0-12.8-5.742-12.8-12.8c0-7.058,5.742-12.8,12.8-12.8h191.101v25.6H40.421H39.747z M458.105,348.805 c0,59.807-48.656,108.463-108.463,108.463H162.358c-59.807,0-108.463-48.656-108.463-108.463v-26.274h176.954v34.245 c0,27.18,22.112,49.292,49.291,49.292h86.457c27.179,0,49.291-22.112,49.291-49.292v-34.245h42.218V348.805z M472.253,295.584 h-0.674h-55.691v-25.6h56.364c7.058,0,12.8,5.742,12.8,12.8C485.053,289.841,479.31,295.584,472.253,295.584z"/>
        <path d="M232.024,75.848c-5.825-33.562-35.138-59.17-70.339-59.17h-5.389c-39.375,0-71.411,32.034-71.411,71.411v81.284 c0,7.44,6.032,13.474,13.474,13.474s13.474-6.034,13.474-13.474V88.089c0-24.517,19.946-44.463,44.463-44.463h5.389 c20.487,0,37.773,13.932,42.906,32.816c-27.482,6.758-47.933,31.597-47.933,61.135v15.185c0,7.44,6.032,13.474,13.474,13.474 h98.98c7.441,0,13.474-6.034,13.474-13.474v-15.185C282.585,107.104,260.822,81.624,232.024,75.848z M255.638,139.289h-72.033 v-1.711c0-19.859,16.158-36.015,36.016-36.015c19.859,0,36.017,16.156,36.017,36.015V139.289z"/>
        <path d="M107.884,201.621c-0.62-0.62-1.307-1.186-2.048-1.671c-0.728-0.484-1.509-0.903-2.318-1.24 c-0.822-0.337-1.671-0.591-2.533-0.767c-1.725-0.352-3.517-0.352-5.255,0c-0.862,0.175-1.711,0.43-2.52,0.767 c-0.822,0.337-1.603,0.756-2.331,1.24c-0.741,0.485-1.428,1.051-2.048,1.671c-0.62,0.62-1.186,1.307-1.671,2.049 c-0.485,0.726-0.903,1.508-1.24,2.33c-0.337,0.808-0.606,1.657-0.768,2.52c-0.175,0.862-0.269,1.752-0.269,2.627               c0,0.874,0.094,1.765,0.269,2.641c0.162,0.848,0.431,1.696,0.768,2.518c0.337,0.808,0.755,1.59,1.24,2.318 c0.485,0.741,1.051,1.428,1.671,2.048c0.62,0.62,1.307,1.187,2.048,1.684c0.728,0.485,1.509,0.903,2.331,1.24 c0.808,0.337,1.657,0.593,2.52,0.768c0.862,0.175,1.752,0.256,2.627,0.256s1.765-0.082,2.627-0.256 c0.862-0.175,1.711-0.431,2.533-0.768c0.808-0.337,1.59-0.755,2.318-1.24c0.741-0.497,1.428-1.064,2.048-1.684 c2.506-2.505,3.948-5.981,3.948-9.525S110.39,204.127,107.884,201.621z"/>
    </svg>
    </div>
</div>
</section>

<script>
// Set service cards link
const cards = document.querySelectorAll('.services .card');
cards.forEach(card => {
    card.addEventListener('click', () => {
        window.location.href = '#contact';
    });
    card.addEventListener('keydown', e => {
        if ('Enter' === e.key || 'Space' === e.key) {
            e.preventDefault();
            window.location.href = "#contact";
        }
    });
});
</script>