---
import Layout from "../../layouts/Layout.astro";
import Carousel from "../../components/Carousel.astro";

const images = [
  { src: "kitchen-reno-1-small.jpg", alt: "Kitchen Renovation", full: "kitchen-reno-1.jpg", width: 256, height: 171 },
  { src: "kitchen-reno-2-small.jpg", alt: "Kitchen Renovation", full: "kitchen-reno-2.jpg", width: 256, height: 171 },
  { src: "bathroom-reno-1-small.jpg", alt: "Bathroom Renovation", full: "bathroom-reno-1.jpg", width: 256, height: 171 },
  { src: "bathroom-reno-2-small.jpg", alt: "Bathroom Renovation", full: "bathroom-reno-2.jpg", width: 256, height: 171 },
  { src: "bathroom-reno-3-small.jpg", alt: "Bathroom Renovation", full: "bathroom-reno-3.jpg", width: 256, height: 171 },
];

const path = "/images/renos/";
---
<Layout
	title="Veranda Custom Homes - Renovations",
	description="Looking for a custom home builder or renovation expert that you can fully trust? We have years of proven construction experience in the Vancouver, BC area."
>
    <main id="main-content" style="position:relative;">
      <Carousel>
        {images.map(image => (
          <div class="carousel-item">
            <img src={path + image.src} alt={image.alt} data-full={path + image.full} class="carousel-img" loading="lazy" width={image.width} height={image.height} />
          </div>
        ))}
      </Carousel>
    </main>
</Layout>

<style>
  .carousel-item {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .carousel-img {
    width: 15.625em;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
  }
</style>
