@font-face {
  font-family: "Alegreya Sans";
  font-weight: 100;
  font-display: swap;
  src:
    url("/fonts/alegreyasans-thin.woff2") format("woff2"),
    url("/fonts/alegreyasans-thin.woff") format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-display: swap;
  src:
    url("/fonts/alegreyasans-light.woff2") format("woff2"),
    url("/fonts/alegreyasans-light.woff") format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-display: swap;
  src:
    url("/fonts/alegreyasans-regular.woff2") format("woff2"),
    url("/fonts/alegreyasans-regular.woff") format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-display: swap;
  src:
    url("/fonts/alegreyasans-medium.woff2") format("woff2"),
    url("/fonts/alegreyasans-medium.woff") format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-display: swap;
  src:
    url("/fonts/alegreyasans-bold.woff2") format("woff2"),
    url("/fonts/alegreyasans-bold.woff") format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 800;
  font-display: swap;
  src:
    url("/fonts/alegreyasans-extrabold.woff2") format("woff2"),
    url("/fonts/alegreyasans-extrabold.woff") format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 900;
  font-display: swap;
  src:
    url("/fonts/alegreyasans-black.woff2") format("woff2"),
    url("/fonts/alegreyasans-black.woff") format("woff");
}
